@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color:rgb(5, 5, 117);
    font-family: 'Slabo 27px', serif;
}
.main{
    width: 100%;
    background-color: rgb(5, 5, 117);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 0;
}
img{
    height: 300px;
    width: 500px;
    border-radius: 15px;
    margin: 5px;
}
.carImage{
    margin-top: 8%;
}
.sub {
    margin-left: 5%;
}
.sub h2{
    font-size:80px;
    color: white;
}
.sub span{
    font-size: 30px;
    color: whitesmoke;
    opacity: .8;
}
.text{
    margin: 0;
    margin-left:20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(5, 5, 117);
}
.text2{
    margin: 0;
    margin-left:20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}

@media screen and (max-width:600px) {
.main{
    width: 100%;
    background-color: rgb(5, 5, 117);
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sub h2{
    font-size:50px;
    color: white;
}
img{
    height: 200px;
    width: 300px;
}
.text{
    font-size: 20px;
}
.text2{
    font-size: 20px;
}
}